body {
  background-color: rgb(216, 216, 216)
}
h1 {
  text-align: center;
  font-style: italic;
  font-size: 50px;
}
.menuPrincipal {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   height: 70px;
   background:rgb(153, 67, 67);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Geneva, Tahoma, sans-serif, Verdana, sans-serif;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a{
  display: block;
  color: rgb(238, 247, 255);
  text-align: center;
  padding: 25px 30px;
  text-decoration: none;
}
li a:hover {
  color:rgb(70, 45, 45);
  background: rgb(170, 190, 212);
}
.rodape {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: rgb(109, 62, 62);
  color: blanchedalmond;
  justify-content: center;
  display: flex;
}
#metallica {
  width: 25%;
  top: 60px;
  right: 38%;
  position: absolute;
  justify-content: center;
}

.texto {
 position: absolute;
 bottom: 135px;
 font-size: 20px;
 font-family: monospace; 
 text-align: center;
}

#integrantes {
  width: 30%;
  top: 85px;
  right: 37%;
  position: absolute;
  justify-content: center;
}
.disco {
  position: center;
  bottom: -35px;
  font-size: 20px;
  font-family: monospace; 
 }
 .para {
  text-align: center;
  font-size: 20px;
 }
 