body {
  background-color: rgb(216, 226, 197)
}
h1 {
  text-align: center;
}
.menuPrincipal {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   height: 70px;
   background:rgb(137, 116, 151);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a{
  display: block;
  color: rgb(238, 247, 255);
  text-align: center;
  padding: 25px 30px;
  text-decoration: none;
}
li a:hover {
  color:rgb(61, 48, 70);
  background: rgb(178, 197, 218);
}
.rodape {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: rgb(137, 116, 151);
  color: blanchedalmond;
  justify-content: center;
  display: flex;
}
#metallica {
  width: 25%;
  top: 60px;
  right: 38%;
  position: absolute;
  justify-content: center;
}
